---

import Tour from '../components/Tour.astro';
import Header from '../components/Header.vue';

let title = 'My Astro Site';


---


<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../styles/global.css";
	</style>

	<style>
	
	</style>
</head>
<body>
	<main class="bg-secondary-800 antialiased">
		<Header client:visible/>
		<div class="max-w-7xl mx-auto px-4 sm:px-6">
		<h1 class="text-[10vw] text-center leading-none  md:text-6xl lg:text-8xl uppercase text-primary font-mortendextra_bold"> <span class="text-3xl font-mortendlight">Seattle Based</span> Creative Developer <span class="font-mortendextra_bold_outline text-orange-200">and</span> Designer</h1>
		
		</div>

		<Tour />

	

	</main>
</body>
</html>
